name: CI

on:
  push:
    branches:
      - "main"
  pull_request:
    branches:
      - main

jobs:
  rustfmt-check:
    name: Rust format
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5

      - uses: dtolnay/rust-toolchain@master
        with:
          toolchain: stable
          components: rustfmt

      - run: cargo fmt -- --check

  rust:
    name: Rust lint
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5

      - uses: dtolnay/rust-toolchain@master
        with:
          toolchain: stable
          components: clippy, rust-src

      - uses: Swatinem/rust-cache@v2

      - run: cargo clippy -- -D warnings

      - run: cargo test --workspace
